// test file for compiling scss

@import "../advanced-media-queries";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

// landscape-only settings
#mobile-landscape, #tablet-landscape, #desktop-landscape {
    @extend .show-on-landscape;
}
// portrait-only settings
#mobile-portrait, #tablet-portrait, #desktop-portrait {
    @extend .show-on-portrait;
}
// mobile-only settings
#mobile-landscape, #mobile-portrait {
    @extend .show-on-mobile;
}
// tablet-only settings
#tablet-landscape, #tablet-portrait {
    @extend .show-on-tablet;
}
// tablet-only settings
#desktop-landscape, #desktop-portrait {
    @extend .show-on-desktop;
}
#mobile-hide { @extend .hide-on-mobile; }
#tablet-hide { @extend .hide-on-tablet; }
#desktop-hide { @extend .hide-on-desktop; }

$show-min-breakpoint: 600px;
$show-max-breakpoint: 900px;
$hide-min-breakpoint: 900px;
$hide-max-breakpoint: 1100px;
#custom-show-min {
    @include custom-breakpoint-show($min: $show-min-breakpoint);
}
#custom-show-max {
    @include custom-breakpoint-show($max: $show-max-breakpoint);
}
#custom-show-min-max {
    @include custom-breakpoint-show($min: $show-min-breakpoint, $max: $show-max-breakpoint);
}
#custom-hide-min {
    @include custom-breakpoint-hide($min: $hide-min-breakpoint);
}
#custom-hide-max {
    @include custom-breakpoint-hide($max: $hide-max-breakpoint);
}
#custom-hide-min-max {
    @include custom-breakpoint-hide($min: $hide-min-breakpoint, $max: $hide-max-breakpoint);
}

#rotating-style {
    font-weight: 600;
    @include mobile-only-style { color: #f00 };
    @include tablet-only-style { color: #0f0 };
    @include desktop-only-style { color: #00f };
}
#mobile-style {
    @include mobile-only-style {
        color: #00f;
        font-weight: 600;
    }
}
#tablet-style {
    @include tablet-only-style {
        color: #00f;
        font-weight: 600;
    }
}
#desktop-style {
    @include desktop-only-style {
        color: #00f;
        font-weight: 600;
    }
}
#portrait-style {
    @include portrait-only-style {
        color: #00f;
        font-weight: 600;
    }
}
#landscape-style {
    @include landscape-only-style {
        color: #00f;
        font-weight: 600;
    }
}
$style-min-breakpoint: 800px;
$style-max-breakpoint: 1000px;
#custom-style {
    @include custom-breakpoint-style($min: $style-min-breakpoint, $max: $style-max-breakpoint) {
        color: #00f;
        font-weight: 600;
    };
}

.test-div {
    width: 240px;
    height: 60px;
    margin: 8px;
    border-radius: 2px;
    display: block;
    font-family: Open Sans, sans-serif;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    text-transform: capitalize;
    font-weight: 300;
    &.important-div {
        font-weight: 600;
    }
    &.style-div {
        background-color: #ddd;
    }
}

/* div colors */
#mobile-landscape {
    background-color: rgba(255, 0, 0, 0.5);
}
#mobile-portrait {
    background-color: rgba(255, 255, 0, 0.5);
}
#tablet-landscape {
    background-color: rgba(0, 255, 0, 0.5);
}
#tablet-portrait {
    background-color: rgba(0, 255, 255, 0.5);
}
#desktop-landscape {
    background-color: rgba(0, 0, 255, 0.5);
}
#desktop-portrait {
    background-color: rgba(255, 0, 255, 0.5);
}
#mobile-hide {
    background-color: rgba(255, 0, 0, 0.7);
}
#tablet-hide {
    background-color: rgba(0, 255, 0, 0.7);
}
#desktop-hide {
    background-color: rgba(0, 0, 255, 0.7);
}
#custom-show-min {
    background-color: rgba(255, 0, 0, 0.5);
}
#custom-show-max {
    background-color: rgba(0, 255, 0, 0.5);
}
#custom-show-min-max {
    background-color: rgba(255, 255, 0, 0.5);
}
#custom-hide-min {
    background-color: rgba(255, 0, 0, 0.5);
}
#custom-hide-max {
    background-color: rgba(0, 255, 0, 0.5);
}
#custom-hide-min-max {
    background-color: rgba(255, 255, 0, 0.5);
}
