/* Advanced Media Queries Classes v1.0 */
/* Advanced Media Queries v1.0 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@media only screen and (min-width: 768px) {
  .show-on-mobile, #mobile-landscape, #mobile-portrait {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .show-on-tablet, #tablet-landscape, #tablet-portrait {
    display: none !important; } }
@media only screen and (min-width: 1024px) {
  .show-on-tablet, #tablet-landscape, #tablet-portrait {
    display: none !important; } }

@media only screen and (max-width: 1023px) {
  .show-on-desktop, #desktop-landscape, #desktop-portrait {
    display: none !important; } }

@media only screen and (orientation: landscape) {
  .show-on-portrait, #mobile-portrait, #tablet-portrait, #desktop-portrait {
    display: none !important; } }

@media only screen and (orientation: portrait) {
  .show-on-landscape, #mobile-landscape, #tablet-landscape, #desktop-landscape {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .hide-on-mobile, #mobile-hide {
    display: none !important; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hide-on-tablet, #tablet-hide {
    display: none !important; } }

@media only screen and (min-width: 1024px) {
  .hide-on-desktop, #desktop-hide {
    display: none !important; } }

@media only screen and (orientation: portrait) {
  .hide-on-portrait {
    display: none !important; } }

@media only screen and (orientation: landscape) {
  .hide-on-landscape {
    display: none !important; } }

@media only screen and (max-width: 599px) {
  #custom-show-min {
    display: none !important; } }

@media only screen and (min-width: 900px) {
  #custom-show-max {
    display: none !important; } }

@media only screen and (max-width: 599px) {
  #custom-show-min-max {
    display: none !important; } }
@media only screen and (min-width: 900px) {
  #custom-show-min-max {
    display: none !important; } }

@media only screen and (min-width: 900px) {
  #custom-hide-min {
    display: none !important; } }

@media only screen and (max-width: 1099px) {
  #custom-hide-max {
    display: none !important; } }

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  #custom-hide-min-max {
    display: none !important; } }

#rotating-style {
  font-weight: 600; }
  @media only screen and (max-width: 767px) {
    #rotating-style {
      color: #f00; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #rotating-style {
      color: #0f0; } }
  @media only screen and (min-width: 1024px) {
    #rotating-style {
      color: #00f; } }

@media only screen and (max-width: 767px) {
  #mobile-style {
    color: #00f;
    font-weight: 600; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #tablet-style {
    color: #00f;
    font-weight: 600; } }

@media only screen and (min-width: 1024px) {
  #desktop-style {
    color: #00f;
    font-weight: 600; } }

@media only screen and (orientation: portrait) {
  #portrait-style {
    color: #00f;
    font-weight: 600; } }

@media only screen and (orientation: landscape) {
  #landscape-style {
    color: #00f;
    font-weight: 600; } }

@media only screen and (min-width: 800px) and (max-width: 999px) {
  #custom-style {
    color: #00f;
    font-weight: 600; } }

.test-div {
  width: 240px;
  height: 60px;
  margin: 8px;
  border-radius: 2px;
  display: block;
  font-family: Open Sans, sans-serif;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  text-transform: capitalize;
  font-weight: 300; }
  .test-div.important-div {
    font-weight: 600; }
  .test-div.style-div {
    background-color: #ddd; }

/* div colors */
#mobile-landscape {
  background-color: rgba(255, 0, 0, 0.5); }

#mobile-portrait {
  background-color: rgba(255, 255, 0, 0.5); }

#tablet-landscape {
  background-color: rgba(0, 255, 0, 0.5); }

#tablet-portrait {
  background-color: rgba(0, 255, 255, 0.5); }

#desktop-landscape {
  background-color: rgba(0, 0, 255, 0.5); }

#desktop-portrait {
  background-color: rgba(255, 0, 255, 0.5); }

#mobile-hide {
  background-color: rgba(255, 0, 0, 0.7); }

#tablet-hide {
  background-color: rgba(0, 255, 0, 0.7); }

#desktop-hide {
  background-color: rgba(0, 0, 255, 0.7); }

#custom-show-min {
  background-color: rgba(255, 0, 0, 0.5); }

#custom-show-max {
  background-color: rgba(0, 255, 0, 0.5); }

#custom-show-min-max {
  background-color: rgba(255, 255, 0, 0.5); }

#custom-hide-min {
  background-color: rgba(255, 0, 0, 0.5); }

#custom-hide-max {
  background-color: rgba(0, 255, 0, 0.5); }

#custom-hide-min-max {
  background-color: rgba(255, 255, 0, 0.5); }

/*# sourceMappingURL=style.css.map */
